/* You can add global styles to this file, and also import other style files */
body {
  background: -webkit-radial-gradient(rgb(31, 65, 96), rgb(24, 33, 41));
  background: radial-gradient(rgb(31, 65, 96), rgb(24, 33, 41));
  margin: 0px;
}