md-card {
    margin: 40px;
}

md-tab {
    font-size: 18px;
}

#folio-upload {
    display: none;
}

.clickable {
    cursor: pointer;
}

a.mat-raised-button {
    margin-right: 24px;
}

.tab-content {

    .tab-header p {
        font-weight: normal;
    }
}